<div class="container">

	<div class="wrapper">




<div class="about_us">
							<h2>ABOUT US</h2>


						<div class="content">
							<p>Carlo’s is a family owned bakery featured on the TLC hit show Cake Boss. Carlo’s, originally opened by Carlo Guastaffero in 1910, was acquired by Bartolo Valastro Sr. in 1964. Since the untimely passing of Bartolo Sr. in 1994, matriarch Mary Valastro and her children Grace, Maddalena, Mary, Lisa and master baker Bartolo Jr. “Buddy” Valastro have expanded the business with the help of their spouses.

              Because of the Valastro family’s dedication to quality and excellence, Carlo’s has received national recognition. Master Baker Bartolo Jr. “Buddy” has been featured in numerous publications, such as Modern Bride, and The Knot. Buddy’s cake design was voted by the Today’s Show viewers as best cake in America. He has also appeared in many other media outlets, including multiple appearances on the Food Network, for his intricate sugar art designs specialty cakes and wedding cakes that look just as good as they taste.

              </p>
							<p>Carlo’s Bakery is currently open in Santa Monica, CA; Atlanta, GA; Mall of America, MN; Hoboken, Marlton, Morristown, Red Bank, Ridgewood, Wayne, and Westfield, NJ; Las Vegas, NV; Dallas, Frisco, and The Woodlands, TX; Uncasville, CT; Orlando, FL; Bethlehem, and Philadelphia, PA; New York, and Westbury, NY; and, São Paulo, Brazil.</p>
						</div>
						</div>
</div>
</div>
