


<div class="container right " style="margin-top:90px;">

 <div class="valign-wrapper right">

    <div class="email center">

            <form class="col s12 l12" action="" method="POST">
            <div class="form-group center">
              <label class="flow-text active" style="color:#757575" for="email_address">Sweets for our sweet!</label>
              <input type="email" class="form-control center" name="email" id="email_address" placeholder="Type your email here">
            </div>
            <button type="submit" class="btn btn-primary #f8bbd0 pink lighten-4 center">Submit</button>
          </form>
        </div>
</div>
</div>
<div class=" left-align" style="margin:100px 0 0 20px;">
  <h1>Friendly</h1>
</div>
<div class=" left-align" style="margin-left: 100px;">
  <h1>Bakery</h1>
</div>
