<div class="center">



<div class="row">
  <br>
  <br>
  <br>
      <div class="col s12"><a class="waves-effect waves-light btn #f8bbd0 pink lighten-4" href="/products/cakes"><i class="material-icons right"></i>CAKES</a>
      </div>
      <br>
      <br>
      <br>

      <div class="col s12"><a class="waves-effect waves-light btn #f8bbd0 pink lighten-4" href="/products/cookies"><i class="material-icons right"></i>COOKIES</a></div>
      <br>
      <br>
      <br>
      <div class="col s12"><a class="waves-effect waves-light btn #f8bbd0 pink lighten-4"href="/products/muffins" ><i class="material-icons right"></i>MUFFINS</a></div>
    </div>

  </div>
